body {
  background: rgb(250, 250, 250);
}

.App {
  text-align: center;
  max-width: 1000px;
  margin: 0 auto;
}

.post-item {
  background: indianred;
  color: rgb(250, 250, 250);
  font-size: 2rem;
  padding: 2rem;
  display: flex;
  justify-content: space-around;
  

  border: 10px solid white;
}

.form {
  display: flex;

  border: 10px solid white;
}

input, button {
  font-size: 1.5rem;
  padding: 0 .5rem;
  flex-grow: 1;
  background: rgb(250, 250, 250);
  margin-right: 3px;
  border-radius: 3px;
}